.error{
    color: red;
}
.success{
    color: green;
}

/* sidebar*/

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
}

.left-sidebar {
  position: sticky;
  top:0;
  height: calc(100vh - 70px)
}

.sidebar-nav li .nav-link {
  color: #333;
  font-weight: 500;
}
.jumboturn_name{
	display: flex;
	justify-content: center;
	margin: 0;
}
.jumbotron.jumboturn_name {
    padding: 1rem 0rem;
}
.profile_pic{
	border-radius: 50%;
	height:35px;
}
.jumboturn_notes{
	padding: 1em !important;
	text-align: center;
}

.notes_para{
	background: #f1f0f0;
    padding: 7px;
    margin: 10px;
}
.alumini{
  color:red;
}